services:
  adguard:
    image: adguard/adguardhome:v0.107.71
    container_name: adguard
    restart: always
    volumes:
      - /opt/adguard/work:/opt/adguardhome/work
      - /opt/adguard/config:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 8000:80/tcp
  twingate:
    image: twingate/connector:1.81.0
    container_name: banceylab-connector
    restart: always
    network_mode: bridge
    sysctls:
      - net.ipv4.ping_group_range=0 2147483647
    environment:
      TWINGATE_REFRESH_TOKEN: "{{ twingate[inventory_hostname].refresh_token }}"
      TWINGATE_ACCESS_TOKEN: "{{ twingate[inventory_hostname].access_token }}"
      TWINGATE_NETWORK: "{{ twingate.network }}"
      TWINGATE_DNS: 10.151.14.1
      TWINGATE_LABEL_MACHINE_NAME: "{{ inventory_hostname }}"
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.5
    ports:
      - 80:8080/tcp
      - 443:8443/tcp
      - 443:8443/udp
      - 5000:5000/tcp
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.151.14.0/24 10.151.16.0/24"
    restart: "unless-stopped"
