---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-app-dependencies-controllers
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-infrastructure
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: lab-ops
  path: ./kubernetes/app-dependencies/controllers
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - patch: |
        - op: add
          path: /spec/values/service/spec/loadBalancerIP
          value: 10.151.24.128
      target:
        kind: HelmRelease
        name: traefik
    - patch: |
        $patch: delete
        apiVersion: v1
        kind: Namespace
        metadata:
          name: nfs
      target:
        kind: Namespace
        name: nfs
    - patch: |
        $patch: delete
        apiVersion: helm.toolkit.fluxcd.io/v2beta1
        kind: HelmRelease
        metadata:
          name: csi-driver-nfs
      target:
        kind: HelmRelease
        name: csi-driver-nfs
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: cert-manager
      namespace: cert-manager
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: traefik
      namespace: traefik
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: longhorn
      namespace: longhorn-system
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-app-dependencies-configs
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-app-dependencies-controllers
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: lab-ops
  path: ./kubernetes/app-dependencies/config
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - patch: |
        - op: add
          path: /spec/routes/0/match
          value: Host(`traefik.tiny`)
      target:
        kind: IngressRoute
        name: traefik-dashboard
    - patch: |
        $patch: delete
        apiVersion: storage.k8s.io/v1
        kind: StorageClass
        metadata:
          name: config-nfs-csi
      target:
        kind: StorageClass
        name: config-nfs-csi
    - patch: |
        - op: add
          path: /spec/routes/0/match
          value: Host(`longhorn.tiny.heimelska.co.uk`)
      target:
        kind: IngressRoute
        name: longhorn
    - patch: |
        - op: add
          path: /spec/commonName
          value: "longhorn.tiny.heimelska.co.uk"
        - op: add
          path: /spec/dnsNames/0
          value: "longhorn.tiny.heimelska.co.uk"
      target:
        kind: Certificate
        name: longhorn-staging-tls
    - patch: |
        - op: add
          path: /spec/commonName
          value: "longhorn.tiny.heimelska.co.uk"
        - op: add
          path: /spec/dnsNames/0
          value: "longhorn.tiny.heimelska.co.uk"
      target:
        kind: Certificate
        name: longhorn-tls
