---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
  namespace: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    timeout: 20m
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    # Configure options applied to all pods
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: false
        seccompProfile:
          type: Unconfined
        capabilities:
          add:
            - NET_ADMIN
            - NET_RAW

    controllers:
      # Configure the main controller
      main:
        type: statefulset
        containers:
          # Configure the main application container
          main:
            image:
              repository: ghcr.io/matter-js/python-matter-server
              tag: stable
            args:
              - --storage-path
              - /data
              - --paa-root-cert-dir
              - /data/credentials
            env:
              TZ: Europe/London
            resources:
              requests:
                cpu: 50m
                memory: 256M
              limits:
                memory: 512M

    service:
      # Configure a service for the main application
      main:
        controller: main
        type: ClusterIP
        ports:
          websocket:
            port: 5580
            protocol: TCP

    persistence:
      # Configure the main data storage location
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /data
