storage:
  type: sqlite
  path: /data/data.db

ui:
  header: BanceTech Service Status
  link: "https://gatus.{{ inventory_hostname }}.heimelska.co.uk"
  default-sort-by: group
  buttons:
{% for host in groups['rpi'] if host != inventory_hostname %}
    - name: {{ host }}
      link: "https://gatus.{{ host }}.heimelska.co.uk"
{% endfor %}

{% set discord_webhook = gatus_discord_webhook_url | default('') | trim %}
{% set discord_enabled = discord_webhook | length > 0 %}
{% if discord_enabled %}
alerting:
  discord:
    webhook-url: "{{ discord_webhook }}"
    title: ":helmet_with_white_cross: Gatus ({{ inventory_hostname }})"
    message-content: "@bancey"
{% endif %}

endpoints:
  - name: thanos
    group: hosts
    url: "tcp://thanos.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.5"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: gamora
    group: hosts
    url: "tcp://gamora.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.6"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: thor
    group: hosts
    url: "tcp://thor.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.13"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: loki
    group: hosts
    url: "tcp://loki.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.14"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: hela
    group: hosts
    url: "tcp://hela.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.12"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: wanda
    group: hosts
    url: "tcp://wanda.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.11"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: wanda-mgmt
    group: hosts
    url: "tcp://10.151.14.10:443"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: aguard dns external
    group: services
    url: "10.151.14.4"
    dns:
      query-name: "google.co.uk"
      query-type: "A"
    conditions:
      - "[DNS_RCODE] == NOERROR"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: adguard dns internal
    group: services
    url: "10.151.14.4"
    dns:
      query-name: "hass.tiny.heimelska.co.uk"
      query-type: "A"
    conditions:
      - "[DNS_RCODE] == NOERROR"
      - "[BODY] == 10.151.24.10"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: home assistant
    group: services
    url: "https://hass.tiny.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Home Assistant</title>*)"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: home assistant waf
    group: services
    url: "https://hass.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Home Assistant</title>*)"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: zigbee2mqtt
    group: services
    url: "https://zigbee2mqtt.tiny.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Zigbee2MQTT</title>*)"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}

  - name: mariadb vip (proxysql)
    group: databases
    url: "tcp://sql.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: proxysql0 mysql frontend
    group: databases
    url: "tcp://proxysql0.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: proxysql1 mysql frontend
    group: databases
    url: "tcp://proxysql1.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: proxysql2 mysql frontend
    group: databases
    url: "tcp://proxysql2.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: mariadb0 direct
    group: databases
    url: "tcp://mariadb0.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: mariadb1 direct
    group: databases
    url: "tcp://mariadb1.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: mariadb2 direct
    group: databases
    url: "tcp://mariadb2.heimelska.co.uk:3306"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: postgres vip
    group: databases
    url: "tcp://pgsql.heimelska.co.uk:5432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: postgresql0 direct
    group: databases
    url: "tcp://postgresql0.heimelska.co.uk:5432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: postgresql1 direct
    group: databases
    url: "tcp://postgresql1.heimelska.co.uk:5432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: postgresql2 direct
    group: databases
    url: "tcp://postgresql2.heimelska.co.uk:5432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: pgbouncer vip
    group: databases
    url: "tcp://pgsql.heimelska.co.uk:6432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: pgbouncer0 direct
    group: databases
    url: "tcp://postgresql0.heimelska.co.uk:6432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: pgbouncer1 direct
    group: databases
    url: "tcp://postgresql1.heimelska.co.uk:6432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
  - name: pgbouncer2 direct
    group: databases
    url: "tcp://postgresql2.heimelska.co.uk:6432"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
{% if discord_enabled %}
    alerts:
      - type: discord
        send-on-resolved: true
{% endif %}
