storage:
  type: sqlite
  path: /data/data.db

ui:
  header: BanceTech Service Status
  link: "https://gatus.{{ inventory_hostname }}.heimelska.co.uk"
  default-sort-by: group
  buttons:
{% for host in groups['rpi'] if host != inventory_hostname %}
    - name: {{ host }}
      link: "https://gatus.{{ host }}.heimelska.co.uk"
{% endfor %}

endpoints:
  - name: thanos
    group: hosts
    url: "tcp://thanos.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.5"
  - name: gamora
    group: hosts
    url: "tcp://gamora.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.6"
  - name: thor
    group: hosts
    url: "tcp://thor.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.13"
  - name: loki
    group: hosts
    url: "tcp://loki.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.14"
  - name: hela
    group: hosts
    url: "tcp://hela.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.12"
  - name: wanda
    group: hosts
    url: "tcp://wanda.heimelska.co.uk:22"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
      - "[IP] == 10.151.14.11"
  - name: wanda-mgmt
    group: hosts
    url: "tcp://10.151.14.10:443"
    interval: 1m
    conditions:
      - "[CONNECTED] == true"
  - name: aguard dns external
    group: services
    url: "10.151.14.4"
    dns:
      query-name: "google.co.uk"
      query-type: "A"
    conditions:
      - "[DNS_RCODE] == NOERROR"
  - name: adguard dns internal
    group: services
    url: "10.151.14.4"
    dns:
      query-name: "hass.tiny.heimelska.co.uk"
      query-type: "A"
    conditions:
      - "[DNS_RCODE] == NOERROR"
      - "[BODY] == 10.151.24.10"
  - name: home assistant
    group: services
    url: "https://hass.tiny.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Home Assistant</title>*)"
  - name: home assistant waf
    group: services
    url: "https://hass.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Home Assistant</title>*)"
  - name: zigbee2mqtt
    group: services
    url: "https://zigbee2mqtt.tiny.heimelska.co.uk"
    interval: 1m
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == pat(*<title>Zigbee2MQTT WindFront</title>*)"