vrrp_instance RPI {
  state {{ keepalive[inventory_hostname].state }}
  interface eth0
  virtual_router_id 151
  priority {{ keepalive[inventory_hostname].priority }}
  advert_int 1
  unicast_src_ip {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
  unicast_peer {
    {{ keepalive[inventory_hostname].peers }}
  }

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_pass }}
  }

  virtual_ipaddress {
    {{ vip }}
  }
}
