---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: plex
spec:
  releaseName: plex
  chart:
    spec:
      chart: plex-media-server
      sourceRef:
        kind: HelmRepository
        name: plex
        namespace: flux-system
  interval: 1h0m
  install:
    remediation:
      retries: 3
  values:
    image:
      registry: index.docker.io
      repository: plexinc/pms-docker
      tag: 1.43.0.10467-2b1ba6e69-armhf
    # Ingress configuration should be defined in cluster overlays
    ingress:
      enabled: false
    # Service type should be defined in cluster overlays
    service:
      type: ClusterIP
    # PVC names should be defined in cluster overlays
    pms:
      configExistingClaim: plex-config-pvc
    env:
      CHANGE_CONFIG_DIR_OWNERSHIP: "false"
    extraVolumes:
      - name: data
        persistentVolumeClaim:
          claimName: plex-data-pvc
      - name: private-data
        persistentVolumeClaim:
          claimName: plex-data-private-pvc
    extraVolumeMounts:
      - name: data
        mountPath: /data
      - name: private-data
        mountPath: /private-data
