apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: bunkerwebmgmt-mariadb
  namespace: bunkerweb-mgmt
spec:
  rootPasswordSecretKeyRef:
    name: bunkerwebmgmt-secret
    key: DB_ROOT_PASSWORD
    generate: false

  database: db

  myCnf: |
    [mariadb]
    max_user_connections=100

  storage:
    size: 1Gi
    # storageClassName should be configured in cluster overlays
