---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: acquisition
spec:
  releaseName: prowlarr
  chart:
    spec:
      version: 0.2.7
      chart: xarr
      sourceRef:
        kind: HelmRepository
        name: bancey
        namespace: flux-system
  interval: 1h0m0s
  timeout: 10m
  install:
    remediation:
      retries: 3
  values:
    image: linuxserver/prowlarr:2.3.0
    config:
      port: 9696
    # PVC names should be configured in cluster overlays
    persistence:
      config:
        enabled: true
        claimName: prowlarr-config-pvc
      data:
        enabled: false
