---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: acquisition
spec:
  releaseName: sabnzbd
  chart:
    spec:
      version: 0.3.2
      chart: sabnzbd
      sourceRef:
        kind: HelmRepository
        name: bancey
        namespace: flux-system
  interval: 1h0m0s
  timeout: 10m
  install:
    remediation:
      retries: 3
  values:
    image: linuxserver/sabnzbd:4.5.5
    env:
      - name: DOCKER_MODS
        value: lscr.io/linuxserver/mods:universal-unrar6
    # PVC names should be configured in cluster overlays
    persistence:
      config:
        enabled: true
        claimName: sabnzbd-config-pvc
      downloads:
        enabled: true
        claimName: sabnzbd-downloads-pvc
