---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: acquisition
spec:
  releaseName: sonarr
  chart:
    spec:
      version: 0.2.7
      chart: xarr
      sourceRef:
        kind: HelmRepository
        name: bancey
        namespace: flux-system
  interval: 1h0m0s
  timeout: 10m
  install:
    remediation:
      retries: 3
  values:
    image: linuxserver/sonarr:4.0.16
    config:
      port: 8989
    # PVC names should be configured in cluster overlays
    persistence:
      config:
        enabled: true
        claimName: sonarr-config-pvc
      data:
        enabled: true
        claimName: sonarr-data-pvc
