---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-app-dependencies-controllers
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-infrastructure
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: lab-ops
  path: ./kubernetes/app-dependencies/controllers
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - patch: |
        - op: add
          path: /spec/values/service/spec/loadBalancerIP
          value: 10.151.24.160
      target:
        kind: HelmRelease
        name: traefik
    - patch: |
        $patch: delete
        apiVersion: v1
        kind: Secret
        metadata:
          name: azblob-secret
      target:
        kind: Secret
        name: azblob-secret
    - patch: |
        $patch: delete
        apiVersion: helm.toolkit.fluxcd.io/v2beta1
        kind: HelmRelease
        metadata:
          name: longhorn
      target:
        kind: HelmRelease
        name: longhorn
    - patch: |
        $patch: delete
        apiVersion: v1
        kind: Namespace
        metadata:
          name: longhorn-system
      target:
        kind: Namespace
        name: longhorn-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: cert-manager
      namespace: cert-manager
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: csi-driver-nfs
      namespace: nfs
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: traefik
      namespace: traefik
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-app-dependencies-configs
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-app-dependencies-controllers
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: lab-ops
  path: ./kubernetes/app-dependencies/config
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - patch: |
        - op: add
          path: /spec/routes/0/match
          value: Host(`traefik.wanda.heimelska.co.uk`)
      target:
        kind: IngressRoute
        name: traefik-dashboard
    - patch: |
        $patch: delete
        apiVersion: traefik.io/v1alpha1
        kind: IngressRoute
        metadata:
          name: longhorn
      target:
        kind: IngressRoute
        name: longhorn
    - patch: |
        $patch: delete
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: longhorn-staging-tls
      target:
        kind: Certificate
        name: longhorn-staging-tls
    - patch: |
        $patch: delete
        apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: longhorn-tls
      target:
        kind: Certificate
        name: longhorn-tls
