---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  values:
    ingress:
      enabled: true
      hosts:
        - grafana.tiny.heimelska.co.uk
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.tiny.heimelska.co.uk
    persistence:
      storageClassName: longhorn