apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/smokeping
  - ../base/pelican
  #- ./penpot-secret.sops.yaml
  #- ../base/penpot
  - ./discord-bot-secret.sops.yaml
  - ../base/discord
  - ../base/capacitor
  - ./capacitor-certificates.yaml
  - ./capacitor-ingress-route.yaml
  - ../base/bunkerweb-mgmt
  - ./bunkerweb-mgmt-configmap.yaml
  - ./bunkerweb-mgmt-certificates.yaml
  - ./bunkerweb-mgmt-ingress-route.yaml
  - ../base/twingate
  - ./monica-db-secret.sops.yaml
  - ./monica-certificates.yaml
  - ../base/monica
  #- ./grafana-admin-secret.sops.yaml
  #- ../base/monitoring
  #- ./monitoring-certificates.yaml
  #- ./mimir-minio-pvc.yaml
  #- ./loki-minio-pvc.yaml
  #- ./grafana-pvc.yaml
  #- ./unpoller-secret.sops.yaml
  #- ./unpoller-alloy-config.yaml
  - ../base/home-assistant
patchesStrategicMerge:
  - smokeping-certificate-patch.yaml
  - smokeping-ingress-route-patch.yaml
  - smokeping-patch.yaml
  - pelican-patch.yaml
  - bunkerweb-mgmt-mariadb-patch.yaml
  #- penpot-certificate-patch.yaml
  #- penpot-ingress-route-patch.yaml
  #- penpot-patch.yaml
  - monica-patch.yaml
  #- loki-patch.yaml
  #- mimir-patch.yaml
  #- grafana-patch.yaml
  #- alloy-patch.yaml
  - zigbee2mqtt-patch.yaml
  - home-assistant-certificate-patch.yaml
  - home-assistant-ingress-route-patch.yaml
