---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  values:
    gateway:
      ingress:
        enabled: true
        hosts:
          - host: loki.tiny.heimelska.co.uk
            paths:
              - path: /
                pathType: ImplementationSpecific
        tls:
          - hosts:
              - loki.tiny.heimelska.co.uk
            secretName: loki-tls
    minio:
      persistence:
        enabled: true
        existingClaim: loki-minio
