---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mimir-minio
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: longhorn
