vrrp_script check_adguard_dns {
  script "/usr/bin/nslookup -timeout=2 localhost 127.0.0.1 > /dev/null 2>&1"
  interval 5
  weight -20
  fall 2
  rise 2
}

vrrp_script check_bunkerweb {
  script "/usr/bin/curl -sf http://127.0.0.1:80 > /dev/null 2>&1"
  interval 5
  weight -20
  fall 2
  rise 2
}

vrrp_instance RPI {
  state {{ keepalive[inventory_hostname].state }}
  interface eth0
  virtual_router_id 151
  priority {{ keepalive[inventory_hostname].priority }}
  advert_int 1
  unicast_src_ip {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
  unicast_peer {
    {{ keepalive[inventory_hostname].peers }}
  }

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_pass }}
  }

  virtual_ipaddress {
    {{ vip }}
  }

  track_script {
    check_adguard_dns
    check_bunkerweb
  }
}