datadir="/var/lib/proxysql"
errorlog="/var/lib/proxysql/proxysql.log"

admin_variables=
{
    admin_credentials="admin:{{ proxysql_admin_password }};radmin:{{ proxysql_admin_password }}"
    mysql_ifaces="127.0.0.1:6032"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:3306"
    default_schema="information_schema"
    stacksize=1048576
    connect_timeout_server=3000
    monitor_username="proxysql_monitor"
    monitor_password="{{ proxysql_monitor_password }}"
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
    monitor_read_only_timeout=500
    ping_interval_server_msec=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
    connect_retries_on_failure=10
}

mysql_users=
(
{% for db in mariadb_databases %}
    { username="{{ db.user }}", password="{{ db.password }}", default_hostgroup=0, active=1 }{% if not loop.last %},{% endif %}

{% endfor %}
)

mysql_servers=
(
{% for node in galera_nodes %}
    { address="{{ node }}", port=3306, hostgroup=0, max_connections=100 },
{% endfor %}
{% for node in galera_nodes %}
    { address="{{ node }}", port=3306, hostgroup=1, max_connections=100 }{% if not loop.last %},{% endif %}
{% endfor %}
)

mysql_galera_hostgroups=
(
    {
        writer_hostgroup=0,
        backup_writer_hostgroup=2,
        reader_hostgroup=1,
        offline_hostgroup=3,
        active=1,
        max_writers=1,
        writer_is_also_reader=1,
        max_transactions_behind=100
    }
)

mysql_query_rules=
(
    {
        rule_id=1,
        active=1,
        match_digest="^SELECT .* FOR UPDATE",
        destination_hostgroup=0,
        apply=1
    },
    {
        rule_id=2,
        active=1,
        match_digest="^SELECT",
        destination_hostgroup=1,
        apply=1
    },
    {
        rule_id=3,
        active=1,
        match_digest=".*",
        destination_hostgroup=0,
        apply=1
    }
)
