services:
  adguard:
    image: adguard/adguardhome:v0.107.69
    container_name: adguard
    restart: always
    volumes:
      - /opt/adguard/work:/opt/adguardhome/work
      - /opt/adguard/config:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 8000:80/tcp
  adguard_exporter:
    image:  ghcr.io/henrywhitaker3/adguard-exporter:v1.2.1
    container_name: adguard_exporter
    restart: always
    environment:
      ADGUARD_SERVERS: http://adguard
      ADGUARD_USERNAMES: "{{ adguard_username }}"
      ADGUARD_PASSWORDS: "{{ adguard_password }}"
    ports:
      - "9618:9618"
    depends_on:
      - adguard
  twingate:
    image: twingate/connector:1.80.0
    container_name: banceylab-connector
    restart: always
    network_mode: bridge
    sysctls:
      - net.ipv4.ping_group_range=0 2147483647
    environment:
      TWINGATE_REFRESH_TOKEN: "{{ twingate[inventory_hostname].refresh_token }}"
      TWINGATE_ACCESS_TOKEN: "{{ twingate[inventory_hostname].access_token }}"
      TWINGATE_NETWORK: "{{ twingate.network }}"
      TWINGATE_DNS: 10.151.14.1
      TWINGATE_LABEL_MACHINE_NAME: "{{ inventory_hostname }}"
  gatus:
    image: twinproduction/gatus:v5.33.0
    volumes:
      - /opt/gatus/config:/config
      - /opt/gatus/data:/data
    ports:
      - "8080:8080/tcp"
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.5
    ports:
      - 80:8080/tcp
      - 443:8443/tcp
      - 443:8443/udp
      - 5000:5000/tcp
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.151.14.0/24 10.151.16.0/24"
    restart: "unless-stopped"
  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy
    restart: always
    volumes:
      - /opt/alloy/config:/etc/alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/host/root:ro
      - /sys:/host/sys:ro
      - /proc:/host/proc:ro
      - /var/log:/host/var/log:ro
      - /run/udev:/host/udev:ro
    ports:
      - "12345:12345/tcp"
    command:
      - run
      - /etc/alloy/config.alloy
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - --disable-reporting
    privileged: true
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    container_name: cadvisor
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - "8081:8080"
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
