---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: jellyfin-cache-pvc-nfs-static
  namespace: jellyfin
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  volumeName: jellyfin-cache-pv-nfs
  storageClassName: nfs-csi
