---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  values:
    service:
      main:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.152.15.52
    persistence:
      config:
        existingClaim: jellyfin-config-pvc-nfs-static
      data:
        existingClaim: jellyfin-data-pvc-nfs-static
      private-data:
        existingClaim: jellyfin-data-private-pvc-nfs-static
