---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: jellyfin-data-pvc-nfs-static
  namespace: jellyfin
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 15000Gi
  volumeName: jellyfin-data-pv-nfs
  storageClassName: nfs-csi
