apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - plex-certs.yaml
  - plex-cert-converter-configmap.yaml
  - plex-config-pv.yaml
  - plex-config-pvc.yaml
  - plex-data-pv.yaml
  - plex-data-pvc.yaml
  - plex-data-private-pv.yaml
  - plex-data-private-pvc.yaml
  - plex-ingress-route.yaml
  - plex-keystore-secret.sops.yaml
  - ../base/plex
  - jellyfin-certs.yaml
  - jellyfin-config-pv.yaml
  - jellyfin-config-pvc.yaml
  - jellyfin-cache-pv.yaml
  - jellyfin-cache-pvc.yaml
  - jellyfin-media-pv.yaml
  - jellyfin-media-pvc.yaml
  - jellyfin-ingress-route.yaml
  - ../base/jellyfin
  - sabnzbd-config-pv.yaml
  - sabnzbd-config-pvc.yaml
  - sabnzbd-downloads-pv.yaml
  - sabnzbd-downloads-pvc.yaml
  - sabnzbd-certs.yaml
  - sonarr-config-pv.yaml
  - sonarr-config-pvc.yaml
  - sonarr-data-pv.yaml
  - sonarr-data-pvc.yaml
  - sonarr-certs.yaml
  - radarr-config-pv.yaml
  - radarr-config-pvc.yaml
  - radarr-data-pv.yaml
  - radarr-data-pvc.yaml
  - radarr-certs.yaml
  - prowlarr-config-pv.yaml
  - prowlarr-config-pvc.yaml
  - prowlarr-certs.yaml
  - mullvad-secret.sops.yaml
  - qbittorrent-config-pv.yaml
  - qbittorrent-config-pvc.yaml
  - ../base/acquisitions
  - ../base/capacitor
  - capacitor-ingress-route.yaml
  - capacitor-certs.yaml
  - ../base/monitoring
patchesStrategicMerge:
  - plex-patch.yaml
  - jellyfin-patch.yaml
  - acquisitions-patch.yaml
  - loki-patch.yaml
  - mimir-patch.yaml
  - grafana-patch.yaml
  - alloy-patch.yaml
  - unpoller-patch.yaml
patches:
  - patch: |
      - op: add
        path: /spec/routes/0/match
        value: Host(`dl.wanda.heimelska.co.uk`)
    target:
      kind: IngressRoute
      name: sabnzbd
  - patch: |
      - op: add
        path: /spec/routes/0/match
        value: Host(`sonarr.wanda.heimelska.co.uk`)
    target:
      kind: IngressRoute
      name: sonarr
  - patch: |
      - op: add
        path: /spec/routes/0/match
        value: Host(`radarr.wanda.heimelska.co.uk`)
    target:
      kind: IngressRoute
      name: radarr
  - patch: |
      - op: add
        path: /spec/routes/0/match
        value: Host(`prowlarr.wanda.heimelska.co.uk`)
    target:
      kind: IngressRoute
      name: prowlarr
  - patch: |
      - op: add
        path: /spec/routes/0/match
        value: Host(`qb.wanda.heimelska.co.uk`)
    target:
      kind: IngressRoute
      name: qbittorrent-gluetun
