- name: Update system, install docker and setup keepalived
  hosts: rpi
  become: true
  become_user: root
  become_method: sudo
  gather_facts: true
  vars:
    vip: "10.151.14.4/24"
    keepalive:
      thanos:
        peers: |-
          "10.151.14.6"
        state: "MASTER"
        priority: 150
      gamora:
        peers: |-
          "10.151.14.5"
        state: "BACKUP"
        priority: 100
  roles:
  - role: prep
    install_pkgs: [ "apt-transport-https", "ca-certificates", "curl", "software-properties-common", "python3-pip", "virtualenv", "python3-setuptools", "python3-docker" ]
    disable_multipath: false
  - role: install-docker
  tasks:
  - set_fact:
      keepalived_pass: "{{ lookup('ansible.builtin.file', 'keepalived-pass') }}"
  - name: ensures /etc/keelalived dir exists
    file:
      path: /etc/keepalived
      state: directory
  - name: Copy KeepAlived configuration template
    template:
      src: templates/keepalived.conf.j2
      dest: /etc/keepalived/keepalived.conf
  - name: Update apt and install keepalived
    apt:
      pkg:
      - keepalived
      - libipset13
      state: latest
      update_cache: true
    when: not ansible_check_mode
  - name: Create base compose directory
    file:
      path: /opt/compose
      state: directory
      owner: root
      group: root
      mode: '0755'
  - name: Create portainer directory
    file:
      path: /opt/portainer
      state: directory
      owner: root
      group: root
      mode: '0755'

- name: Deploy network stack
  hosts: rpi
  serial: 1
  become: true
  become_user: root
  become_method: sudo
  gather_facts: false
  vars:
    twingate:
      network: "bancetech"
      thanos:
        refresh_token: "{{ lookup('ansible.builtin.file', 'Twingate-banceylab-connector-Refresh-Token') }}"
        access_token: "{{ lookup('ansible.builtin.file', 'Twingate-banceylab-connector-Access-Token') }}"
      gamora:
        refresh_token: "{{ lookup('ansible.builtin.file', 'Twingate-banceylab-connector-2-Refresh-Token') }}"
        access_token: "{{ lookup('ansible.builtin.file', 'Twingate-banceylab-connector-2-Access-Token') }}"
  roles:
  - role: rpi-network
    tags: [ network ]

- name: Deploy monitoring stack
  hosts: rpi
  become: true
  become_user: root
  become_method: sudo
  gather_facts: false
  vars:
    adguard_username: "{{ lookup('ansible.builtin.file', 'Adguard-Thanos-Username') }}"
    adguard_password: "{{ lookup('ansible.builtin.file', 'Adguard-Thanos-Password') }}"
  roles:
  - role: rpi-monitoring
    tags: [ monitoring ]
