apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: pelican-mariadb
  namespace: pelican
spec:
  rootPasswordSecretKeyRef:
    name: pelican-secret
    key: DB_ROOT_PASSWORD
    generate: false

  username: pelican
  passwordSecretKeyRef:
    name: pelican-secret
    key: DB_PASSWORD
    generate: false
  database: panel

  storage:
    size: 1Gi
    # storageClassName should be configured in cluster overlays
