---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pelican
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      pelican:
        containers:
          app:
            image:
              repository: ghcr.io/pelican-dev/panel
              tag: main@sha256:2a12480575a9a2c2b42aa0e0813cb40a8b8afe227c120c9695443ce37d1e8683
            env:
              APP_ENV: testing
              APP_DEBUG: "false"
              APP_TIMEZONE: UTC
              APP_URL: https://pelican.heimelska.co.uk
              REDIS_HOST: pelican-dragonfly
              REDIS_PORT: 6379
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              QUEUE_CONNECTION: redis
              DB_CONNECTION: mariadb
              DB_HOST: pelican-mariadb
              DB_DATABASE: panel
              DB_USERNAME: *app
              GUZZLE_TIMEOUT: 60
              GUZZLE_CONNECT_TIMEOUT: 60
              XDG_DATA_HOME: /pelican-data
            envFrom:
              - secretRef:
                  name: pelican-secret
            resources:
              requests:
                cpu: 50m
                memory: 300M
              limits:
                memory: 500M
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        size: 1Gi
        globalMounts:
          - path: /pelican-data
      logs:
        type: persistentVolumeClaim
        accessMode: ReadWriteMany
        size: 1Gi
        globalMounts:
          - path: /var/www/html/storage/logs
      caddyfile:
        type: configMap
        enabled: true
        name: pelican-caddyfile
        globalMounts:
          - path: /etc/caddy/
